@import url("https://fonts.googleapis.com/css?family=Rubik:500,700|Righteous:400");
*{
	margin: 0;
	padding: 0;
}

.container { max-width: 1200px; }
/*-----navbar-----*/
.navbar{

	background-color: #fffff0;
}
.menu a{
	font-family: Rubik,sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #4e4e4a ;
	word-spacing: 15px;
	letter-spacing: 1px;
	display: inline-block;
	text-shadow: 0px 0px;

}

.menu a:hover{
	border-radius: 10px;
	color: #d98324;	
    letter-spacing: 2px;
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
     transition: all 0.4s ease 0s;
}

/*-----Banner-----*/

.banner{
	box-sizing: border-box;
	height: 600px;

}
.title1{
	padding-top: 180px;
}
.title2{

	padding-top: 30px;
	width: 100%;
	padding-bottom: 20px;
}

.custom-btn { 
  border-radius: 80px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;

}

.custom-btn.custom-btn-bg {
  font-family: Rubik, sans-serif; 
  background: #d98324;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin-right: 3px;
  box-shadow: 1px;
}
.custom-btn.custom-btn-bg:hover {
  background: -webkit-linear-gradient(315deg, #a40606 0%, #d98324 74%);
  color: #ffffff !important;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}


.animated {
	font-family: Righteous, sans-serif;
  position: relative;
}

.animated-info {
	font-family: Righteous, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 350px;
  position: relative;
}

.animated-item {
	font-family: Righteous, sans-serif;
    background: -webkit-linear-gradient(315deg, #a40606 0%, #d98324 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.animated-item {
	font-family: Righteous, sans-serif;
  font-size: 30px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*-----Services-----*/
.services{
	margin-top: 5px;
    padding-bottom: 80px; 
    background-color: #e6dbc9;

    @media (max-width: 1199px) {
    .features_area {
      padding-bottom: 50px; } }
}
.main_title h2{
	font-family: Rubik, sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #222;
}

.main_title p{
	font-family: Rubik, sans-serif;
	color: #555;
	font-size: 15px;
}

.feature_item {
  padding: 45px 25px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}
.feature_item img {
    margin-bottom: 35px; 
}
.feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; 
}
.feature_item p {
	justify-content: center;
    margin-bottom: 8px;
    color: #8c8c8c; 
}
.feature_item:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff; 
}

.hover-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #222;
    line-height: 1;
    padding-left: 26px;
    text-transform: uppercase;
    padding-bottom: 2px;
    font-size: 13px
}
.custom-btn1 { 
  border-radius: 5px;
  font-size: 10px;
  line-height: normal;
  overflow: hidden;

}

.custom-btn1.custom-btn-bg1 {
  font-family: Rubik, sans-serif; 
  background: #f25845;
  font-weight: 200;
  letter-spacing: 0;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 1px;
}
.custom-btn1.custom-btn-bg1:hover {
  background: -webkit-linear-gradient(315deg, #e82f33 0%, #f25845 74%);
  color: #ffffff !important;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.5s ease 0s;
}

/*-----Services End-----*/


/*-----Portfolio Start-----*/
.main_title{
	margin-top: 30px;
}
.main_title h2{
	margin-top: 15px;
	font-family: Rubik, sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #222;
}

.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

.filters > li{
    list-style: none;
    display: inline-block;
}

.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.filters > li > a:hover{
    background-color: #e6e9ed;
    border-radius: 10px;
}

.filters > li.active > a{
    color: #fff;
    background-color: #e82f33;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}
.card:hover{
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}
.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(120deg, #e82f33 30%, #f25845 50%, transparent);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}
/*-----Portfolio End-----*/

/*-----About me-----*/
.about{
	margin-top: 50px;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
}
.selfbox{
	text-align:center;
	color:#fff;
	position:relative;
}

.selfbox .box-content,.selfbox:after{
	width:100%;
	position:absolute;
	left:0;
}
.selfbox:after{
	content:"";
	height:100%;
	background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);
	top:0;
	transition:all .5s ease 0s;
}


.selfbox .post,.selfbox .title-me{
	transform:translateY(145px);
	transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s;
}
.selfbox:hover:after{
	background:linear-gradient(to bottom,rgba(0,0,0,.05) 2%,rgba(0,0,0,.10) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,
	rgba(0,0,0,.29) 28%,rgba(0,0,0,.33) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 48%,rgba(0,0,0,.53) 65%,rgba(0,0,0,.75) 75%,
	rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%);
}
.selfbox img{
	width:100%;
	height:auto;

}
.selfbox .box-content{
	padding:20px;
	margin-bottom:20px;
	bottom:0;
	z-index:1;
}
.selfbox .title-me{
	font-size:22px;
	font-weight:700;
	text-transform:uppercase;
	margin:0 0 10px;
}
.selfbox .post{
	display:block;
	padding:8px 0;
	font-size:15px;
}
.selfbox .social .ceo li a,.icon li a{
	border-radius:50%;
	font-size:20px;
	color:#fff;
}
.selfbox:hover .post,.selfbox:hover .title-me{
	transform:translateY(0);
}
.selfbox .social{
	list-style:none;
	padding:0 0 5px;
	margin:40px 0 25px;
	opacity:0;
	position:relative;
	transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
	transition:all .6s cubic-bezier(0,0,.58,1) 0s;
}
.selfbox:hover .social{
	opacity:1;
	transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
}
.selfbox .social:before{
	content:"";
	width:50px;
	height:2px;
	background:#fff;
	margin:0 auto;
	position:absolute;
	top:-23px;
	left:0;
	right:0;
}
.selfbox .social li{
	display:inline-block;
}
.selfbox .social li a{
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	background:#fff;
	margin-right:10px;
	transition:all .3s ease 0s;
}

/*-----About me End-----*/

/*-----Testimonial start-----*/

.Testimonial{
	margin-top: 80px;
	padding-top: 50px;
	background-color: #e6dbc9;
	height: 600px;
	
}
.main_titlet h2{
	margin-top: 20px;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 32px;
	color: #222;
    margin-bottom: 10px;
}
.main_titlet h3{
	margin-top: 10px;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: #222;
    margin-bottom: 10px;
}


.indentity {
	margin: 0!important
}
figure.testimonial {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	padding: 0 20px;
	text-align: left;
	box-shadow: none !important;
}
figure.testimonial * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
	max-width: 100%;
	vertical-align: middle;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	margin: 40px 0 0 10px;
}
figure.testimonial blockquote {
	background-color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0;
	padding: 25px 50px 30px;
	position: relative;
}
figure.testimonial blockquote:before, figure.testimonial blockquote:after {
	content: "\201C";
	position: absolute;
	color: #ff5057;
	font-size: 50px;
	font-style: normal;
}
figure.testimonial blockquote:before {
	top: 25px;
	left: 20px;
}
figure.testimonial blockquote:after {
	content: "\201D";
	right: 20px;
	bottom: 0;
}
figure.testimonial .btn {
	top: 100%;
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #fff;
	margin: 0;
	position: absolute;
}
figure.testimonial .peopl {
	position: absolute;
	bottom: 45px;
	padding: 0 10px 0 120px;
	margin: 0;
	color: #333;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}
figure.testimonial .peopl h3 {
	opacity: 0.9;
	margin: 0;
}
figure.testimonial .peopl p {
	opacity: 0.9;
	margin: 0;
	color: #b72226;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-btn.slick-hidden {
	display: none;
}
 
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}
.slick-prev:before, .slick-next:before {
	font-family: "fontawesome";
	font-size: 40px;
	line-height: 1;
	opacity: .75;
	color: #b72226;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	left: -6px;
}
.slick-prev:before {
	content: "";
}
.slick-next {
	right: -6px;
}
.slick-next:before {
	content: "";
}
/*-----Testimonial end-----*/

/*-----contact Start-----*/
.contact{
    background:linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9));
	height: auto;
	border-image-width: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contact h3{
	
	color: #fff;
}

.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}


.main{
	align-items: center;
	background-color: #222;
	box-shadow: 1px 2px 5px #555;
}
.info{
	width: 100%;
			text-shadow: 1px 1px 1px #222;
			color: #fff;
			font-size: 20px;
		}
.form-box{
			align-items: center;
			padding: 10px;
			margin-left: 18px
		}
label{
			color: #fff;
			font-size: 18px;
		}
.inp,.msg-box{
			width: 80%;
			padding: 5px;
			margin-top: 4px;
			margin-bottom: 5px;
			border-radius: 5px;
			border: 2px solid #222;
			font-weight: bold;
			color: #222;
			resize: none;
}
.msg-box{
	height: 80px;
}

.inp:focus,.msg-box:focus{
	outline: none;
	border: 2px solid #e82f33;
	border-right: 5px solid #e82f33;
	border-left: 5px solid #e82f33;
}

.sub-btn{
	width: 70%;
	padding: 10px;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 20px;
	border: none;
	background: #fff;
	cursor: pointer;
	color: #222;
	font-size: 20px;
}
.sub-btn:hover{
			background: -webkit-linear-gradient(330deg, #e82f33 30%, #f25845 50%);
			opacity: 0.8;
			transition: all ease-out 0.4s;
			word-spacing: 2px;
		}
.sub-btn:focus{
			outline: none;
		}

#contact ul.social li{
	padding: 0px 0;
}
#contact ul.social li a i {
    margin-right: 2px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#contact ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
	color: #e5e5e5 ;
}
#contact ul.social li a,
#contact ul.quick-links li a{
	color:#ffffff;
}
#contact ul.social li a:hover{
	color:#3b5998 ;
}

/*-----footer-----*/
#footer{
	background-color: #191919;
}